# Visual Studio
.vs
MarioWorldSharp/bin
MarioWorldSharp/obj
AssetExtraction/bin
AssetExtraction/obj

#SMW
outerworkspace/snes

# ROM Files
*.smc
*.sfc

#SMW Assets
*.bin
MarioWorldSharp/assets/snes
*/snes/

#MonoGame
*.mgcontent
